Lecture 1/CSC401 Lecture 1.fdb_latexmk
Lecture 1/CSC401 Lecture 1.log
Lecture 1/CSC401 Lecture 1.fls
Lecture 1/CSC401 Lecture 1.pdf
Lecture 1/CSC401 Lecture 1.synctex.gz
Lecture 2/CSC401 Lecture 2.aux
Lecture 2/CSC401 Lecture 2.fdb_latexmk
Lecture 2/CSC401 Lecture 2.fls
Lecture 2/CSC401 Lecture 2.log
Lecture 2/CSC401 Lecture 2.synctex.gz
Lecture 2/CSC401 Lecture 2 S2.aux
Lecture 2/CSC401 Lecture 2 S2.fdb_latexmk
Lecture 2/CSC401 Lecture 2 S2.fls
Lecture 2/CSC401 Lecture 2 S2.log
Lecture 2/CSC401 Lecture 2 S2.synctex.gz
Lecture 3/CSC401 Lecture 3.aux
Lecture 3/CSC401 Lecture 3.fdb_latexmk
Lecture 3/CSC401 Lecture 3.fls
Lecture 3/CSC401 Lecture 3.log
Lecture 3/CSC401 Lecture 3.synctex.gz
Lecture 3/CSC401 Lecture 3.synctex(busy)
Lecture 4/CSC401 Lecture 4.aux
Lecture 4/CSC401 Lecture 4.fdb_latexmk
Lecture 4/CSC401 Lecture 4.fls
Lecture 4/CSC401 Lecture 4.log
Lecture 4/CSC401 Lecture 4.synctex.gz
Lecture 1/CSC401 Lecture 1.aux
